
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <i class="fab fa-twitter footer-icon"></i>
    <i class="fab fa-facebook-f footer-icon"></i>
    <i class="fab fa-instagram footer-icon"></i>
    <i class="fas fa-envelope footer-icon"></i>

    <p class="copyright">© Copyright 2022</p>
  </div>
</div>
</body>
</html>
